@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

td,th{
    border: 1px solid black;
    width: 90px;
    height: 40px;
}
table{
    border-collapse: collapse;
}
caption{
    font-weight: bold;
    padding: 10px;
}
p{
    width: 80vw;
    display: block;
    margin: auto;
}
